.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 Your pins:
				%h4= @user.email
				%br/
				%br/
				- @pins.each do |pin|
					%ul.list-group
						%li.list-group-item= link_to pin.title, pin

	= link_to "Back", root_path, class: "btn btn-primary"